.editTaskPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.editTaskForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgb(252, 252, 252);
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252, 0.8) 0%,
    rgba(157, 215, 255, 0.8) 44%,
    rgba(35, 138, 251, 0.8) 95%
  );
  /* align-items: center; */
  justify-content: center;
  z-index: 1;
  /* order: 1; */
}
.formRow {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Bebas Neue";
}
input,
select,
textarea {
  /* outline: 2px solid #0056b3; */
  box-shadow: 0.3em 0.3em 0.1em rgba(15, 2, 99, 0.3);
  /* outline: 2px solid transparent; */
  transition: all ease-in 0.1s;
}
input:hover,
select:hover,
textarea:hover {
  outline: 2px solid #0056b3;
}
.formColumn {
  flex: 1;
}
.form-heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.editTaskForm span {
  justify-self: flex-start;
}
.formGroup select {
  width: 100%;
  font-size: 1rem; /* Increase font size */
  padding: 23px; /* Add padding */
  height: 40px; /* Increase height */
}

.editHeading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  align-self: center;
  color: #0056b3;
}

.formGroup {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #0056b3;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #05008d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  font-size: 1rem;
  align-self: center;
  transition: all ease-out 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.field {
  margin-top: 16px;
  text-align: center;
  color: #0056b3;
}

.field span a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  transition: all ease-in 0.1s;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid transparent;
}

.field span a:hover {
  border-bottom: 2px solid aliceblue;
}
.link {
  text-decoration: none;
  display: flex;
  margin-bottom: 1rem;
}
.link span {
  align-self: center;
  font-family: "Agbalumo";
  font-size: 1.2rem;
  color: #007bff;
}
.link img {
  max-width: 3rem;
  height: auto;
}
