.container {
  position: relative;
  z-index: 1;
}
.errorBoundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
}
