.header {
  background: rgb(252, 252, 252);
  background: linear-gradient(
    90deg,
    rgba(252, 252, 252, 1) 14%,
    rgba(157, 217, 255, 1) 38%,
    rgba(35, 138, 251, 1) 100%
  );
  color: #fff;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  align-items: center;
  font-size: 1.1rem;
}
.center-text {
  display: flex;
}
.logo img {
  height: 2.5rem;
  margin-left: 1rem;
}
.logo span {
  color: rgba(35, 138, 251, 1);
  font-family: "Agbalumo";
  font-size: 1.2rem;
  align-self: center;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

.link {
  text-decoration: none;
  color: aliceblue;
  padding-bottom: 5px;

  transition: all ease-in 0.1s;
  border-bottom: 2px solid transparent;
}

.link:hover {
  border-bottom: 2px solid aliceblue;
}
